@if $use-form==true {
    .formulaire {
        padding: 2rem;
        .success,
        .alert {
            display: none;
            padding: 1rem;
            color: $color2;
            border: 1px solid $color2;
            border-radius: 3px;
        }
        .alert {
            color: $color6;
            border: 1px solid $color6;
        }
        input,
        textarea {
            width: 100%;
            padding: .8rem;
            border-radius: 3px;
            border: 1px solid lighten($color4, 70%);
            color: $color4;
            margin: .5rem 0;
            font-size: 1rem;
            line-height: 1.5rem;
            outline: none;
        }
        [type="submit"] {
            cursor: pointer;
            transition: all .3s;
            &:hover {
                background: $color2;
                color: $color1;
            }
        }
        .row>div {
            position: relative;
        }
        .icons {
            position: absolute;
            top: 0;
            left: 0;
            background: lighten($color4, 60%);
            padding: .8rem;
            margin: .5rem .9rem;
            border: 1px solid lighten($color4, 70%);
            border-radius: 3px 0 0 3px;
            color: lighten($color4, 10%);
            font-size: 1rem;
            line-height: 1.5rem;
        }
        [data-default] {
            padding-left: 3rem;
        }
        .validation {
            position: absolute;
            top: 50%;
            right: 1.5rem;
            transform: translate(0, -50%);
        }
        .icon-check {
            color: $color5;
        }
        .icon-close {
            color: $color6;
        }
    }
}