/**------------
 * GRID DEFINITION
 ------------*/
/**------------
 * COLORS
 ------------*/
/**------------
 * FONT SIZES
 ------------*/
/**------------
 * OPTIONAL FILES
 ------------*/
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers (opinionated).
   */
body {
  margin: 0; }

/**
   * Add the correct display in IE 9-.
   */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em; }

/* Grouping content
     ========================================================================== */
/**
   * Add the correct display in IE 9-.
   * 1. Add the correct display in IE.
   */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
   * Add the correct margin in IE 8.
   */
figure {
  margin: 0; }

/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * 1. Remove the gray background on active links in IE 10.
   * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
   */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
   * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
   */
b,
strong {
  font-weight: inherit; }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font style in Android 4.3-.
   */
dfn {
  font-style: italic; }

/**
   * Add the correct background and color in IE 9-.
   */
mark {
  background-color: #ff0;
  color: #000; }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Add the correct display in IE 9-.
   */
audio,
video {
  display: inline-block; }

/**
   * Add the correct display in iOS 4-7.
   */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
   * Remove the border on images inside links in IE 10-.
   */
img {
  border-style: none; }

/**
   * Hide the overflow in IE.
   */
svg:not(:root) {
  overflow: hidden; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers (opinionated).
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
   *    controls in Android 4.
   * 2. Correct the inability to style clickable types in iOS and Safari.
   */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * 1. Add the correct display in IE 9-.
   * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
   * Remove the default vertical scrollbar in IE.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10-.
   * 2. Remove the padding in IE 10-.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in IE 9-.
   * 1. Add the correct display in Edge, IE, and Firefox.
   */
details,
menu {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Scripting
     ========================================================================== */
/**
   * Add the correct display in IE 9-.
   */
canvas {
  display: inline-block; }

/**
   * Add the correct display in IE.
   */
template {
  display: none; }

/* Hidden
     ========================================================================== */
/**
   * Add the correct display in IE 10-.
   */
[hidden] {
  display: none; }

h1 {
  color: #fff;
  font-size: 2rem; }

/**------------
 * FUNCTIONS
 ------------*/
* {
  box-sizing: border-box; }

.container-fluid {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem; }

.container {
  max-width: 1170px;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem; }

.container-fluid > .container {
  padding-left: 0;
  padding-right: 0; }

img {
  width: 100%;
  vertical-align: middle; }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0; }

.row {
  margin-left: -1rem;
  margin-right: -1rem; }

.row:before,
.row:after {
  display: table;
  content: "";
  clear: both; }

[class*="col-xs-"] {
  float: left;
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

/**------------
 * TABS SCREENS
 ------------*/
@media all and (min-width: 768px) {
  .col-sm-1 {
    width: 8.33333%; }
  .col-sm-2 {
    width: 16.66667%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-4 {
    width: 33.33333%; }
  .col-sm-5 {
    width: 41.66667%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-7 {
    width: 58.33333%; }
  .col-sm-8 {
    width: 66.66667%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-10 {
    width: 83.33333%; }
  .col-sm-11 {
    width: 91.66667%; }
  .col-sm-12 {
    width: 100%; } }

/**------------
 * MEDIUM SCREENS
 ------------*/
@media all and (min-width: 992px) {
  .col-md-1 {
    width: 8.33333%; }
  .col-md-2 {
    width: 16.66667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.33333%; }
  .col-md-5 {
    width: 41.66667%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.33333%; }
  .col-md-8 {
    width: 66.66667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.33333%; }
  .col-md-11 {
    width: 91.66667%; }
  .col-md-12 {
    width: 100%; } }

/**------------
 * LARGE SCREENS
 ------------*/
@media all and (min-width: 1200px) {
  .col-lg-1 {
    width: 8.33333%; }
  .col-lg-2 {
    width: 16.66667%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-4 {
    width: 33.33333%; }
  .col-lg-5 {
    width: 41.66667%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-7 {
    width: 58.33333%; }
  .col-lg-8 {
    width: 66.66667%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-10 {
    width: 83.33333%; }
  .col-lg-11 {
    width: 91.66667%; }
  .col-lg-12 {
    width: 100%; } }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?qfaefn");
  src: url("../fonts/icomoon.eot?qfaefn#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?qfaefn") format("truetype"), url("../fonts/icomoon.woff?qfaefn") format("woff"), url("../fonts/icomoon.svg?qfaefn#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow_drop_down:before {
  content: "\e5c5"; }

.icon-arrow_drop_up:before {
  content: "\e5c7"; }

.icon-border_color:before {
  content: "\e22b"; }

.icon-phone:before {
  content: "\e0cd"; }

.icon-check:before {
  content: "\e5ca"; }

.icon-navigate_before:before {
  content: "\e408"; }

.icon-navigate_next:before {
  content: "\e409"; }

.icon-close:before {
  content: "\e5cd"; }

.icon-dehaze:before {
  content: "\e3c7"; }

.icon-delete_forever:before {
  content: "\e92b"; }

.icon-person:before {
  content: "\e7fd"; }

/*==========================
	layout
*/
html {
  font-size: 14px; }

.content {
  padding-top: 28px;
  padding-bottom: 14px; }

/*==========================
	header
*/
body > header {
  min-height: 50px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #212020; }

nav {
  display: none; }
  nav ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0; }
  nav li {
    list-style: none;
    padding-top: .5em;
    padding-bottom: .5em; }
  nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem; }
  nav a:hover,
  nav .active {
    transition: all .3s;
    color: #169A9F; }

/*=========================
	main
*/
.content {
  background: #d4d2d2; }
  .content h1 {
    color: #169A9F;
    font-size: 1.77778rem; }
  .content p {
    color: #212020;
    font-size: 1rem; }

/*=========================
	footer
*/
body > footer {
  background: #212020;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }
  body > footer a {
    color: #fff;
    font-size: 1rem; }
  body > footer ul {
    margin: 0; }
  body > footer li {
    list-style: none;
    padding-top: .2em;
    padding-bottom: .2em; }
  body > footer a:hover {
    transition: all .3s;
    color: #169A9F; }

/*=======================
	tablettes et +
*/
@media all and (min-width: 768px) {
  html {
    font-size: 15px; }
  /*============
		header
	*/
  nav {
    display: block; }
  nav li {
    display: inline-block;
    margin-right: 1em; } }

/*=======================
	notebook et +
*/
@media all and (min-width: 992px) {
  html {
    font-size: 16px; } }

/*=======================
	larges screens 
*/
@media all and (min-width: 1200px) {
  html {
    font-size: 17px; } }

body > header span {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #fff;
  font-size: 21px; }

@media all and (min-width: 768px) {
  body > header span {
    display: none; } }

.slider {
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative; }
  .slider ul {
    padding-left: 0;
    width: 9999px;
    position: relative;
    margin: 0; }
  .slider li {
    list-style: none;
    float: left; }
  .slider span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 1.5rem;
    transition: all .2s; }
  .slider span:hover {
    background: rgba(0, 0, 0, 0.8);
    font-size: 1.7rem; }
  .slider .icon-navigate_before {
    left: 5%; }
  .slider .icon-navigate_next {
    right: 5%; }

.galerie figure {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden; }
  .galerie figure img {
    transition: all .3s; }
  .galerie figure img:hover {
    cursor: pointer;
    transform: scale(1.2, 1.2); }

.lightbox {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none; }
  .lightbox .cadre {
    width: 90%;
    background: #fff;
    border: 1px solid #fff;
    position: relative; }
  .lightbox span {
    position: absolute;
    top: 50%;
    color: #fff;
    font-size: 2.5rem;
    cursor: pointer; }
  .lightbox .icon-navigate_before {
    left: 2%;
    transform: translateY(-50%); }
  .lightbox .icon-navigate_next {
    right: 2%;
    transform: translateY(-50%); }
  .lightbox .icon-close {
    top: 0;
    right: 0;
    font-size: 1.5rem; }
  .lightbox figcaption {
    padding: 1rem; }
  .lightbox .list-puces {
    padding: .3rem;
    margin: 0 1rem;
    text-align: center;
    border-top: 1px solid #d4d2d2; }
    .lightbox .list-puces li {
      display: inline-block;
      list-style: none;
      margin: .5rem;
      border: 1px solid #212020;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      cursor: pointer; }
    .lightbox .list-puces li:hover,
    .lightbox .list-puces .puce-active {
      background: #212020; }

@media all and (min-width: 768px) {
  .lightbox .cadre {
    width: 70%; } }

@media all and (min-width: 1200px) {
  .lightbox .cadre {
    width: 50%; } }

.accordeon {
  padding: 2rem 0; }
  .accordeon h1 {
    border-radius: 5px;
    border: 1px solid #bbb8b8;
    background: #edecec;
    color: #212020;
    padding: .6rem .8rem;
    margin-bottom: 0;
    font-size: 1.33333rem;
    font-weight: lighter;
    cursor: pointer; }
    .accordeon h1 span {
      display: inline-block;
      width: 1rem; }
  .accordeon p {
    border: 1px solid #a19f9f;
    padding: 1rem;
    color: #212020;
    margin-bottom: 0;
    border-radius: 0 0 5px 5px;
    display: none; }
    .accordeon p:nth-of-type(1) {
      display: block; }
  .accordeon .active {
    border-radius: 5px 5px 0 0;
    color: #169A9F;
    cursor: default; }

.formulaire {
  padding: 2rem; }
  .formulaire .success,
  .formulaire .alert {
    display: none;
    padding: 1rem;
    color: #169A9F;
    border: 1px solid #169A9F;
    border-radius: 3px; }
  .formulaire .alert {
    color: #FC0937;
    border: 1px solid #FC0937; }
  .formulaire input,
  .formulaire textarea {
    width: 100%;
    padding: .8rem;
    border-radius: 3px;
    border: 1px solid #d4d2d2;
    color: #212020;
    margin: .5rem 0;
    font-size: 1rem;
    line-height: 1.5rem;
    outline: none; }
  .formulaire [type="submit"] {
    cursor: pointer;
    transition: all .3s; }
    .formulaire [type="submit"]:hover {
      background: #169A9F;
      color: #fff; }
  .formulaire .row > div {
    position: relative; }
  .formulaire .icons {
    position: absolute;
    top: 0;
    left: 0;
    background: #bbb8b8;
    padding: .8rem;
    margin: .5rem .9rem;
    border: 1px solid #d4d2d2;
    border-radius: 3px 0 0 3px;
    color: #3b3939;
    font-size: 1rem;
    line-height: 1.5rem; }
  .formulaire [data-default] {
    padding-left: 3rem; }
  .formulaire .validation {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translate(0, -50%); }
  .formulaire .icon-check {
    color: #0ED46B; }
  .formulaire .icon-close {
    color: #FC0937; }

.annuaire {
  padding: 1rem 0; }
  .annuaire .head {
    background: #555252; }
    .annuaire .head p {
      color: #fff; }
  .annuaire .line:nth-child(even) {
    background: #f2f2f2; }
  .annuaire .line:hover,
  .annuaire .active {
    background: #d9d9d9; }
  .annuaire p {
    padding-top: 1rem; }
  .annuaire span:hover {
    cursor: pointer; }
